.App__container{
  height: 150vh;
  display: flex;
  justify-content: center;
  font-size: 30;
  color: #010101;
  background-color: rgb(232, 232, 232);
}
ul{
  list-style: none;
}

.App__title{
  font-size: 40;
  text-transform: uppercase;
  color: rgb(0, 123, 255);
}